<div class="container jumbotron">
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
   <mat-card class="box">
     <mat-card-header>
       <mat-card-title>Register</mat-card-title>
     </mat-card-header>
 
     <form class="example-form" [formGroup]="signupFrom" (ngSubmit)="onSubmit()" >
 
       <mat-card-content>
         <mat-form-field class="example-full-width">
            <input matInput placeholder="FirstName" formControlName="firstname"  required>
            <mat-error >First Name  is required</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="LastName" formControlName="lastname"  >
            
          </mat-form-field>
          <br>

         <mat-form-field class="example-full-width">
           <input matInput placeholder="Username" formControlName="username"  required>
           <mat-error >Username is required</mat-error>
         </mat-form-field>
          <br>
         <mat-form-field class="example-full-width">
           <input matInput placeholder="Email" formControlName="email"  required>
           <mat-error >Email is required</mat-error>
         </mat-form-field>
         <br>
 
         <mat-form-field class="example-full-width">
           <input matInput placeholder="Password" formControlName="password"  required>
           <mat-error >Password is required</mat-error>
         </mat-form-field>
       </mat-card-content>
 
       <button mat-stroked-button color="accent"  type="submit"  [disabled]="!signupFrom.valid" class="btn-block">Register</button>
 
     </form>
   </mat-card>
 </div>
</div>