<!--What2Watch About Page-->

<div class="container jumbotron">
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
       <mat-card class="box about">
           <mat-toolbar color ="warm" style="border-radius:6px">About Us</mat-toolbar>
         <mat-card-header>
           <mat-card-title></mat-card-title>
         </mat-card-header>
         <p> Our quiz-based recommendation platform recommends a movie based on your selected preferences.</p>
         <p> The <b>What2Watch</b> platform is:</p>
         <mat-list>
          <mat-list-item class="colorOfItems" *ngFor="let feature of listOfFeatures">  
            <i class="fa fa-circle"></i>
              {{feature}}
          </mat-list-item>
         </mat-list>      
       </mat-card>
      
    </div>
 </div>
