<div class="container jumbotron">
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
       <mat-card class="box">
           <mat-toolbar color ="primary" >About us</mat-toolbar>
         <mat-card-header>
           <mat-card-title></mat-card-title>
         </mat-card-header>
         <p> Our quiz-based recommendation platform recommends a movie based on your selected preferences.</p>
         <p> Our platform is:</p>
         <ul>
             <li>Time-saving & easy to use</li>
             <li>Use without registering</li>
             <li>Multiple movie genres</li>
             <li>One Recommendation at a time</li>
             <li>Read overview of the movie</li>
             <li>Watch trailers</li>
         </ul>
         
       </mat-card>
      
    </div>
 </div>
