<div class="about">
    <h3 style="text-decoration: underline; text-align: center;">About What2Watch</h3>
    <p> Our quiz-based recommendation platform recommends a movie based on your selected preferences.</p>
    <p> Our platform is:</p>
    <ul>
        <li>Time-saving & easy to use</li>
        <li>Use without registering</li>
        <li>Multiple movie genres</li>
        <li>One Recommendation at a time</li>
        <li>Read overview of the movie</li>
        <li>Watch trailers</li>
    </ul>
  </div>