<div class="container jumbotron">
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
     <div class="carousel-five-images center-block text-center">
        <img src="/Users/anupamanair/Desktop/sprint2/frontend/src/assets/images/1.png" class="one img-responsive" />
       
        <img src="https://cdn.shopify.com/s/files/1/0969/9128/products/Movie_Poster_Fan-Art_-_Doctor_Strange_-_Tallenge_Hollywood_Superhero_Poster_Collection_b0ae5147-3a83-47b6-acff-a5e14c801963.jpg?v=1570155747" class="two changing img-responsive" />
        
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGyxBuI4VqJndUQnXjqzAxhCLfLQZJT-7kMA&usqp=CAU" class="three changing img-responsive" />
        
        <img src="https://m.media-amazon.com/images/M/MV5BZjQ1YTIxNzEtMzcxNC00NTUzLThkZjktMmJlYTcyMjBhMGUyXkEyXkFqcGdeQXVyNTIzOTk5ODM@._V1_FMjpg_UX1000_.jpg" class="four changing img-responsive" />
       
   </div>
   <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center"></div>
</div>
 
   
   
 
