
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body { 
    padding: 0; 
    margin: 0; 
    font-family: Roboto, sans-serif; 
    
  }
  .flexExpand {
    padding: 5px 50px 5px 50px;
              }

  body, html {
  height: 100%;
  width: 100%;
  margin: 0 !important;
}
