$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #050505;
$background-pale: #D1C4E9;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:rgb(233, 133, 18);
    min-height: 150px;
}