$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #050505;
$background-pale: #D1C4E9;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:rgb(233, 133, 18);
    min-height: 150px;
    background-image:linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.5)),url(/assets/images/moviebg.jpg); 

}
.text{
    background-color: #363535;
    color:#e9e8e8;
    text-align: center;
    font-size: large;
    padding: 10px;
}

.b{
    display: flex; 
    align-items: center;
    justify-content: center;
}
button{
    border-radius: 10px;
    font-size:20px;
}

.center {
    display: flex;
    justify-content: center;
  }
