<div class="container jumbotron"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutGap="10px">


  <div fxFlex fxFlex.gt-sm="50%">
    <span><img src="/assets/images/2.png" height=300 width=900></span>
 
    <p class="text">Watching movies is fun, but figuring out what movie to watch next is a nerve-racking experience. Endlessly scrolling through movies, watching trailers on YouTube, looking up IMDb ratings, wasting half an hour and still cannot decide what to watch – does this seem familiar to you? Then you have landed on the right page!</p>
    <div class="center">
    <button id="start" mat-raised-button color="warn" style="width : 60em; height : 1.5cm" (click)="goToQuestions('Question1')">Start your Search</button>
    </div>


  </div>
  <div fxFlex fxFlex.gt-sm="60%">
    <img src="/assets/images/22.png" alt="Logo" style="width:700px">
  </div>
  <div fxFlex></div>
</div>





