<div class="container jumbotron"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="50%">
    <span><img src="/assets/images/logo4.png" height=200 width=800 style="border-radius: 12px;"></span>
 
    <p class="text" style="border-radius: 12px;">Watching movies is fun, but figuring out what movie to watch next is a nerve-racking experience. Endlessly scrolling through Netflix, watching trailers on YouTube, looking up IMDb ratings, wasting half an hour and still cannot decide what to watch – does this seem familiar to you? Then you have landed on the right page!</p>
    <div class="b"><button mat-raised-button color="warn" (click)="goToQuestions('Question1')">Start Now</button></div>
  </div>
  <div fxFlex fxFlex.gt-sm="20%">
    <img src="/assets/images/logo3.png" alt="Logo" style="width:600px">
  </div>
  <div fxFlex></div>
</div>
