<div class="container jumbotron"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="50%"> 
    <span><img src="/assets/images/2.png" height=300 width=700></span>
    <div class="text">
      <p>Watching movies is fun, but figuring out what movie to watch next is a nerve-racking experience.</p>
      <p>Endlessly scrolling, watching trailers on YouTube, looking up IMDb ratings, wasting time doing so and still cannot decide what to watch – does this seem familiar to you? Then you have landed on the right page!</p>
    </div>
      <div class="b"><button mat-raised-button color="warn" (click)="goToQuestions('Question1')">Start Now!</button></div>
  </div>
  <div fxFlex fxFlex.gt-sm="20%">
    <img src="/assets/images/22.png" alt="Logo" style="width:600px">
  </div>
  <div fxFlex></div>
</div>
<app-about></app-about>
