<!--What2Watch Question1-->

<div class="bg  up">
  <div class="progress">
    <mat-progress-bar class="bar" color="warn" mode="determinate" value="16"></mat-progress-bar>
  </div>

  <br>
  <div class="ques1">
    <label>What is the watching occasion?</label>
  </div>
  
  <br>
  <div class="rad">
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      [(ngModel)]="selectedOccasion">
        <mat-radio-button class="example-radio-button" *ngFor="let occ of occasions" value="{{occ}}" color="warn" (change)="radioChange($event)"> 
          {{occ}}
        </mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="buttonq2">
    <button mat-raised-button color="warn" (click)="goBack('Home')" style="border-radius: 6px; margin-right: 60px;">Back</button>
    <button mat-raised-button color="warn" (click)="goToQuestions('Question2')" style="border-radius: 6px;">Next</button>
  </div>
</div>
<!--<h1> {{selectedOccasion}} </h1>-->
