<!--What2Watch Question4-->

<div class="bg  up">
    <div class="progress">
        <mat-progress-bar class="bar" color="warn" mode="determinate" value="66"></mat-progress-bar>
    </div>

    <br>
    <div class="ques4">
        <label>Should the Movie be Age-Appropriate?</label>
    </div>

    <br>
    <div class="rad">
        <mat-radio-group aria-label="Select an option"  [(ngModel)]="selectedAns" >
            <mat-radio-button value="yes" color="warn" (change)="radioChange($event)">Yes</mat-radio-button>
            <mat-radio-button value="no" color="warn" (change)="radioChange($event)">No</mat-radio-button>
          </mat-radio-group>
    </div>

    <div class="buttonq5">
        <button mat-raised-button color="warn" (click)="goToQuestions('Question5')" style="border-radius: 6px;">Next</button>
    </div>
</div>
<h1>{{selectedAns}}</h1>    