<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar color="warn" >
    Login
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>




<form   [formGroup]="loginForm"  (ngSubmit)="login()">

  <mat-dialog-content>
    <p>
      <mat-form-field>
        <input matInput placeholder="Username" type="text"  formControlName="username" required >
        <mat-error>Username is required</mat-error>
        
        
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'"  formControlName="password" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      

        <mat-error>password is required</mat-error>
        
      </mat-form-field>
      <mat-checkbox >Remember Me</mat-checkbox>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button type="submit" name="login"  [disabled]="!loginForm.valid"  mat-button class="background-primary text-floral-white"   color = "warn">Login</button>
  </mat-dialog-actions>
</form>

<hr>

<div class="center">
  <p>New User?</p> 
 
</div>
<div class="center">
  <button mat-raised-button color="warn" (click)="goToSignUp('Signup')"  mat-button mat-dialog-close>Sign Up Now</button>
</div>
