<!--What2Watch Question3-->

<div class="bg up">
    <div class="progress">
        <mat-progress-bar class="bar" color="warn" mode="determinate" value="48"></mat-progress-bar>
    </div>

    <br>
    <div class="ques3">
        <label>Select the Genre(s) of the Movie? </label>
    </div>

    <br>
    <div class="rad">
        <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="selectedGenre">
        <mat-radio-button class="example-radio-button" *ngFor="let genre of typeOfGenres" [value]="genre" color="warn" (change)="radioChange($event)">
            {{genre}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="buttonq4">
        <button mat-raised-button color="warn" (click)="goToQuestions('Question4')">Next</button>
    </div>
</div>
<!--<ul>
<li *ngFor="let item of array; let i = index">
    {{i}} {{item}}
  </li>
</ul>
<h1>Ans2</h1>
<ul>
    <li *ngFor="let item of ans2; let i = index">
        {{item}}
      </li>
</ul>-->
