//What2Watch WatList Page Styling

.jumbotron {

    background-image:linear-gradient(rgba(223, 213, 213, 0.747), rgba(255, 255, 255, 0.774)),url(/assets/images/moviebg.jpg); 
    padding-top: 7%;
    padding-bottom: 10%;
  }
.rad .watchl{
    align-items: center;
    justify-content: center
  }
  .rad{
    margin-top:80px;
  }
  
  .list {
    border: 2px solid #EE4B2B;
    width: 800px;
    height: 100%;
    padding: 25px;
    border-radius: 6px;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    color:white;
    font-size:20px;
    margin-top:0px;
    margin-left:200px;
    margin-right:200px;
  }

  label{
    color:white;
    font-size:25px;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    border: 2px solid #EE4B2B;
    padding: 25px;
    border-radius: 6px;
    margin-left:200px;
    margin-bottom: 100px;
  }