//What2Watch WatList Page Styling

.jumbotron {

    background-image:linear-gradient(rgba(185, 179, 179, 0.747), rgba(209, 202, 202, 0.774)),url(/assets/images/moviebg.jpg); 
    padding-top: 7%;
    padding-bottom: 20%;
  }
.rad .watchl{
   align-items: left;
   justify-content: left;
  }
  .rad{
    margin-top:80px;
  }
  
  .list {
    border: 2px solid #EE4B2B;
    width: 1200px;
    height: 100%;
    padding: 25px;
    border-radius: 6px;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    color:white;
    font-size:20px;
    margin-top:0px;
    margin-left:200px;
    margin-right:200px;
  }

  label{
    color:rgb(56, 54, 54);
    font-size:40px;
    //background-color: #000000;
   // background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
   // border: 2px solid #EE4B2B;
   // padding: 25px;
   // border-radius: 6px;
    margin-left:200px;
    font-weight:bold;
    font-family: "Gill Sans", sans-serif;
    margin-bottom: 100px;
  }

  