
<div class="container jumbotron">
<div class="tp-wrapper">
	<div class="tp-box" (click)="toggleFlip()" [@flipState]="flip">
		<div class="tp-box__side tp-box__front">
      <mat-card >
        <mat-card-header>
          <mat-card-title>Iron Man</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/1st.jpeg" alt="Avatar" class="avatar">
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    

		</div>
		<div class="tp-box__side tp-box__back">

      <mat-card >
        <mat-card-header>
          <mat-card-title>About the Movie</mat-card-title>
        </mat-card-header>
        <p>gj k hb hjnjno njkn jknjhnm kjnjnh njnjhihioj jnkjihjijpm</p>
    </mat-card>
		</div>
	</div>
</div>
</div>