
<div class="container jumbotron">
<div class="tp-wrapper">
	<div class="tp-box" (click)="toggleFlip()" [@flipState]="flip">
		<div class="tp-box__side tp-box__front">
      <mat-card >
        <mat-card-header>
          <mat-card-title>{{title}}</mat-card-title>
        </mat-card-header>
        <p style="margin-bottom:1cm;"></p>
        <img mat-card-image src={{photo}} height="400px" width="400px" >
     
        <mat-card-actions>
          
          
          <button mat-icon-button>
            <mat-icon>thumb_up</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>share</mat-icon>
          </button>
         
        </mat-card-actions>
    </mat-card>
    

		</div>
		<div class="tp-box__side tp-box__back">

      <mat-card >
        <mat-card-header>
          <mat-card-title>About the Movie</mat-card-title>
        </mat-card-header>
  <p style="margin-bottom:2cm;"></p>
        <mat-card-content>
          <p>
            {{details}}
          </p>
        </mat-card-content>
        <p style="margin-bottom:1cm;"></p>
        <button mat-raised-button color="warn" width="100px" (click)="goToVideo('details')">More Details</button>
        <button mat-raised-button color="warn" width="100px" (click)="gotoPlatform()">Watch On {{platform}}</button>
        </mat-card>
  
		</div>
   
</div>
<p style="margin-bottom:13cm;"></p>
<div class="getrec">
  <button mat-raised-button color="warn" width="500px" (click)="getRec()">Get another recommendation</button>
</div>
<p style="margin-bottom:0.5cm;"></p>
<div class="getrec">
  <button *ngIf="logincheck=='Logged'" mat-raised-button color="warn" width="500px" (click)="alert()">Add to Watch list</button>
</div>
</div>
</div>
  <!--<h1>Ans 1: {{ans1}}</h1>
<h1>Ans 2:</h1>
<ul>
  <li *ngFor="let item of ans2; let i = index">
      {{item}}
    </li>
</ul>
<h1>Ans 3:</h1>
<ul>
  <li *ngFor="let item of ans3; let i = index">
      {{item}}
    </li>
</ul>
<h1>Ans 4: {{ans4}}</h1>
<h1>Ans 5: {{ans5}}</h1>
<h1>Ans 6: {{ans6}}</h1>

<p>
  Convert jsOn to/from Object Example</p>
  
<h1>{{stringJson}}<h1>
  <h1>{{user_names}}</h1>
  <h1>{{title}}</h1>-->